<% if notice %>
<p id="notice"><% notice %></p>
<% end %>

<h1>SYMP Forum</h1>

<% if @sections.empty? %>
<%= link_to 'New Section', new_section_path %> <!-- IF ADMIN -->
<% end %>

<% if !@sections.empty? %>
	<% @sections.each do |section| %>
		<div class="forum_section">
			<hr>
			<h2><%= section.title %></h2>
			<%= sanitize(section.description) %>
			<br>
			<%= link_to 'New Topic', new_topic_path(:section_id => section.id) %>
			<% for topic in @sectionTopics[section.id] do %>
				<div class="section_topic">
					<%= topic.title %>
				</div>
			<% end %>
			
		</div>		
	<% end %>
<% end %>
 
<% #if @topics.empty? %>
<%#= link_to 'New Topic', new_topic_path %>
<%# end %>
