<% if notice %>
<p id="notice"><% notice %></p>
<% end %>


<h1>SYMP Forum</h1>
<hr>
<%= link_to 'New Section', new_section_path %> <!-- IF ADMIN -->

<% if !@sections.empty? %>
	<% @sections.each do |section| %>
		<div class="forum_section">
			<hr>
			<h2><%= section.title %></h2>
			<%= sanitize(section.description) %>
			<p>
			<%= link_to 'New Topic', new_section_topic_path(section) %>
			</p>
			<% for topic in @sectionTopics[section.id] do %>
				<div class="section_topic">
					<%= link_to topic.title, section_topic_path(section,topic) %>
					<% if topic.posts.length > 1 %>
						( <%= topic.posts.length %> posts )
					<% else %>
						( <%= topic.posts.length %> post )						
					<% end %>
					
				</div>
			<% end %>
			
		</div>	
		<hr>
	<% end %>
<% end %>
 
