<% if notice %>
<p id="notice"><% notice %></p>
<% end %>

<h1>SYMP Forum</h1>

<% if @sections.empty? %>
<%= link_to 'New Section', new_section_path %>
<% end %>

<% if !@sections.empty? %>
	<% @sections.each do |section| %>
		<div class="forum_section">
			<h3><%= section.title %></h3>
			<h3><%= link_to 'New Section', new_section_path %></h3>
			<%= sanitize(section.description) %>
	
			<% @topics.each do |topic| %>
				<div class="section_topic">
					<h5><%= topic.title %></h5>	
				</div>
			<% end %>
			<%= link_to 'New Topic', new_topic_path %>
		</div>		
	<% end %>
<% end %>
<% if @topics.empty? %>
<%= link_to 'New Topic', new_topic_path %>
<% end %>
