<% if notice %>
<p id="notice"><% notice %></p>
<% end %>

<hr>
<%# if current_user.role == "Administrator" %>
<%#= link_to 'Edit sections', sections_path%>
<%# end %>


<% if !@sections.empty? %>
	<% @sections.each do |section| %>
		<div class="forum_section">
			<hr>
			<h3><%= section.title %></h3>
			<%= sanitize(section.description) %>
			<p>
			<%= link_to 'New Topic', new_section_topic_path(section) %>
			</p>
			<% for topic in @sectionTopics[section.id] do %>
				<div class="section_topic">
					<%= link_to topic.title, section_topic_path(section,topic) %>
					<% if topic.posts.length > 1 %>
						( <%= topic.posts.length %> posts )
					<% else %>
						( <%= topic.posts.length %> post )						
					<% end %>
					
				</div>
			<% end %>
			
		</div>	
		<hr>
	<% end %>
<% end %>
 
