<h1>All Users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>City</th>
    <th>Role</th>
    <% if current_user.role.eql?('Administrator') %>
      <th>Email</th>
      <th>Birthdate</th>
    <% end %>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.name, user %></td>
    <td><%= user.city %></td>
    <td><%= user.role %></td>
    <% if current_user.role.eql?('Administrator') %>
      <td><%= user.email %></td>
      <td><%= user.birthdate %></td>
    <% end %>
    <% if user.id == current_user.id || current_user.role.eql?('Administrator')%>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<div class="color-link">
<%= link_to 'New User', new_user_path %>
</div>
