<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Role:</b>
  <%= @user.role %>
</p>

<% if current_user.role.eql?('Administrator') %>
  <p>
    <b>Email:</b>
    <%= @user.email %>
  </p>
<% end %>

<p>
  <b>Birthdate:</b>
  <%= @user.birthdate %>
</p>

<p>
  <b>City:</b>
  <%= @user.city %>
</p>

<p>
  <b>Skills:</b><br/>
  <% @skills.each do |skill| %>
  <tr>
  	<td><%= skill.skill %></td><br/>
  </tr>
  <% end %>
</p>


<% if @user.id != current_user.id %>
  <div class="span8">
    <%= render 'follow_form' %> 
  </br>
          
  </div>
<% end %>


<%= link_to 'Send message', send_message_url(:id => @user.id) %>

<% if @user.id == current_user.id %>
  <%= link_to 'Edit', edit_user_path(@user) %>
  <span class="sep">|</span>
  <%= link_to 'New Skill', new_skill_path %>
  <span class="sep">|</span>
<% end %>
<%= link_to 'Back', users_path %>


