<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Birthdate:</b>
  <%= @user.birthdate %>
</p>

<p>
  <b>City:</b>
  <%= @user.city %>
</p>

<p>
  <b>Skills:</b><br />
  <% @skills.each do |skill| %>
	<tr>
      <td><%= skill.skill %></td><br/>
	</tr>
  <% end %>
</p>

<% if @user.id == current_user.id %>
  <%= link_to 'Edit', edit_user_path(@user) %>
  <%= link_to 'New Skill', new_skill_path %>
<% end %>
<%= link_to 'Back', users_path %>

