<h1>Message Inbox</h1>
<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>
<% if @popup_message %>
  <script type="text/javascript">
   alert("<%= @popup_message %>");
  </script>
<% end %>

<table>
  <tr>
    <th>From</th>
    <th>Subject</th>
    <th></th>
  </tr>

<% @private_messages.reverse_each do |private_message| %>
  <tr>
    <td><%= User.find(private_message.sender).name %></td>
    <td><%= link_to private_message.subject, private_message %></td>
    <td><%= link_to 'Delete', private_message, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Outbox', outbox_path %>
<span class="sep">|</span>
<%= link_to 'New Private message', new_private_message_path %>
