
<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>
<% if @popup_message %>
  <script type="text/javascript">
   alert("<%= @popup_message %>");
  </script>
<% end %>

<table>
  <caption>Message Outbox</caption>
  <tr>
    <th>To</th>
    <th>Subject</th>
    <th></th>
  </tr>

<% @private_messages.reverse_each do |private_message| %>
  <% if private_message.recipient != 0 %>
    <tr>
      <% recipient =
      <td><%= User.find(private_message.recipient).name %></td>
      <td><%= link_to private_message.subject, private_message %></td>
      <td><%= link_to 'Delete', private_message, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
<% end %>
</table>

<br />

<%= link_to 'Inbox', private_messages_path %>
<span class="sep">|</span>
<%= link_to 'New Private message', new_private_message_path %>
