<%= form_for(@search) do |f| %> <!--form helper für new.html.erb-->
  <% if @search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <% @search.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :name %>
  </div>
  
  <!-- <div class="field">
        
    <%= radio_button_tag(:gender, "female") %>
    <%= label_tag(:gender_female, "female") %>
    <%= radio_button_tag(:gender, "male") %>
    <%= label_tag(:gender_male, "male") %>
    <%= radio_button_tag(:gender, "no matter") %>
    <%= label_tag(:gender_no_matter ,"no matter") %>

  </div> -->


  <div class="field">
    <%= f.label :skill, "Which skills are you searching for?" %><br />
   
  
    <%collect_skills = Skill.all.collect {|u| [u.skill]} 
      collect_skills = collect_skills.uniq %>

<!-- dynamic select field from all entries of the db -->
    <%= selectfield = f.select("skill", collect_skills , {:include_blank => 'Please select'})%><br/>

  </div>

  <div class="field">
    <%= f.label :city, "City" %><br />
        
<!-- collect all cities from db and filter all double entries-->
<% collect_cities = User.all.collect {|u| [u.city.capitalize]} 
      collect_cities = collect_cities.uniq %>

<!-- dynamic select field from all entries of the db -->
    <%= selectfield = f.select("city", collect_cities , {:include_blank => 'Please select'})%>
     

  
  </div>

  <div class="">
    <%= f.submit "Search", :method => "get" %>    <!-- search forms immer mit get methode erstellen -->
    
  </div>

<% end %>
