<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @search.user %>
</p>

<p>
  <b>Skill:</b>
  <%= @search.skill %>
</p>

<p>
  <b>City:</b>
  <%= @search.city %>
</p>


<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>
