<p id="notice"><%= notice %></p>

<p>
  <b>Subject:</b>
  <%= @post.subject %>
</p>

<p>
  <b>Message:</b>
  <%= @post.message %>
</p>

<% if  current_user.role.eql?("Administrator") %> 
	<%= link_to 'Edit', edit_post_path(@post) %> | 
	<%= link_to 'Back', posts_path %>
<% else %>
	<%= link_to 'Edit', edit_topic_post_path(@post) %> | 
	<%= link_to 'Back', section_topic_path(@section,@topic) %>
<% end %>