<p id="notice"><%= notice %></p>

<p>
  <b>Subject:</b>
  <%= @post.subject %>
</p>

<p>
  <b>Message:</b>
  <%= @post.message %>
</p>


<%= link_to 'Edit', edit_topic_post_path(@post) %> 
<%= link_to 'Back', section_topic_path(@section,@topic) %>
