 <nav id="menu" class="clearfix" role="navigation">
    
        <ul> 
            <li class="current"><%= link_to "Home", home_path%> </li>
   <!--         <li>
            <li>
                <a href="about.html">About</a>
                <ul>
                    <li><a href="#">The Idea</a></li>
                    <li><a href="#">The Team</a></li>
                </ul>
            </li>-->
                <li>    
             
                    <%= link_to "Forum", forum_path %>
                    <ul>
                    <li> <%= link_to 'Topics', topics_path%><li> </ul>
                </li>

            <li><%= link_to "Search", new_search_path%></li>
            <% if current_user %>
                <li><%= link_to "Users", users_path%></li>
            <% else %>

                <li><%= link_to "Register", new_user_path %></li>
            <% end %>
        </ul>
    </nav> <!-- #nav -->